<div class="card-table">
  <p-table #dt [columns]="cols" [value]="listUser" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <button pButton pRipple label="New user" routerLink="../user-new" icon="pi pi-plus"
          class=" p-d-inline-block p-mr-2"></button>
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" pInputText size="30" placeholder="Buscar"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Email</th>
        <th>Profile</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.profile}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="edit(user.id)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="delete(user.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{listUser ? listUser.length : 0 }} users.
        <div class="p-formgroup-inline">
          <p-button (click)="setPreviousPage($event)" styleClass="p-button-text">&laquo;</p-button>
          <div *ngFor="let p of pages; let i=index">
            <p-button type="button" [ngClass]="{'pagination-focus':i==page}" (click)="setPage(i,$event)">{{i+1}}
            </p-button>
          </div>
          <p-button type="button" (click)="setNextPage($event)" styleClass="p-button-text">&raquo;</p-button>
        </div>
      </div>
    </ng-template>
  </p-table>
</div>
