<div class="wrapper">
  <div class="sidebar">
    <h2>Help Desk</h2>
    <ul>
      <li><a href="#"><i class="fas fa-home"></i>Users</a></li>
      <li><a href="#"><i class="fas fa-user"></i>Tickets</a></li>
      <li><a href="#"><i class="fas fa-address-card"></i>Summary</a></li>
    </ul>
  </div>

  <div class="main_content">
    <p-toolbar styleClass="toolbar">
      <div class="p-toolbar-group-left">
      </div>

      <div class="p-toolbar-group-right">
        <span class="user-name" style="margin-right: 15px;">andresonjazz@gmail.com</span>
      </div>
    </p-toolbar>

    <div class="info">
      <div>Content</div>
    </div>
  </div>
</div>
