<div class="wrapper">
  <div class="sidebar">
    <h2>Help Desk</h2>
    <ul>
      <li>
        <a href="#">
          <img src="assets/users-solid.svg" class="icon" alt="icone de usuários">
          Users</a>
      </li>
      <li>
        <a href="#">
          <img src="assets/sticky_note_2-24px.svg" class="icon" alt="imagem de ticket">
          Tickets</a>
      </li>
      <li>
        <a href="#">
          <img src="assets/list-24px.svg" class="icon" alt="imagem de resumo">
          Summary</a>
      </li>
    </ul>
  </div>

  <div class="main_content">
    <p-toolbar styleClass="toolbar">
      <div class="p-toolbar-group-left">
      </div>

      <div class="p-toolbar-group-right">
        <span class="user-name" style="margin-right: 15px;">andresonjazz@gmail.com</span>
      </div>
    </p-toolbar>

    <div class="info">
      <div>Content</div>
    </div>
  </div>
</div>
